services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: 77java&&
      POSTGRES_DB: musichall
  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db